main {
  display: flex;
  width: 100%;
}
.right {
  background-color: lightgray;
  overflow-y: auto;
  padding: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.left {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  width: 10%;
  padding: 0.5rem;
}
.boxs {
  background-color: rgb(237, 237, 237);
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.line {
  border: 1px solid gray;
  width: 98%;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 0;
  gap: 0.5rem;
}
.hr {
  background-color: darkgreen;
  width: 100%;
  color: whitesmoke;
}
.consul {
  width: 98%;
  background-color: white;
  padding: 0.7rem;
  border-radius: 0.2rem;
}
.filt {
  width: 98%;
  background-color: white;
  display: flex;
  padding: 0.7rem;
  border-radius: 0.2rem;
}
.count {
  width: 98%;
  display: flex;
  justify-content: space-around;
  padding: 0.7rem;
}
.tabl {
  width: 98%;
  background-color: white;
  padding: 0.7rem;
  border-radius: 0.2rem;
}
.boxTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0.7rem;
  border-radius: 0.2rem;
  border-left: 0.2rem solid green;
  gap: 1rem;
}
.boxTwo i {
  background-color: green;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  color: white;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #f2f2f2;
}
